body {
	font-family: 'Arial', Helvetica, sans-serif;
}
/*dashboard index*/
.res ul {
	width: 100%;
	margin:0;
	padding: 0;
	border: 0;
}

.res li {
	display: inline;
	
}

.res li img {
	
	width:70%;
	/*height:50%;*/
}

.res .tophead {
	
	text-align: center;
}
.res li h6{
	font-size: 12px;
	font-weight: bold;
	
}

.header table.t1 {
	width:100%;
}
.header table.t2 {
	
	font-size: 10px;

}
.header table.t2 tr {
	border:1px solid;
	width:100%;
	text-align: center;
	
}

.header table.t2 th {
	width:20%;
	border:2px solid;
	border-top: 5px solid;
	font-size: 10px;
	
}

.header table.t2 tbody.tablebody2 td{
	border:1px solid;
}

/*table content footer*/
div.osas {
	font-size: 10px;
	border: 1px solid;
	width:52%;
	float: left;
	margin-top: 20px;

}

div p.p1 {
	margin:10px;
}

div p.p2 {
	padding:8px;
}

div p.p2 span {
	margin:0 0 0 40px;
}

div.rap {
	border: 1px solid;
	width: 45%;
	float: right;
	margin-top: 20px;
}

div.rap h6 {
	font-size:12px;
	text-align:center;
	margin:5px;
}

div.rap p {
	font-size:8px;
	margin:5px;
}

div.last {
	font-size: 10px;
	width: 100%;
	float:left;
}

div.last p.p1 {
	float: right;
	margin: 10px 100px 0px 0px;
}

div.last p.p2 {
	margin: 0 0 0 20px;
}

div.last p.p3 {
	margin: 0px 0px 0px 28px;
}

button#printPageButton {
	font-size: 10px;
	position: static;

}

@media print {
  #printPageButton {
    display: none;
  }
}